<div id="publishQueueDashboard" class="publish-queue-dashboard"
     ng-controller="publishQueueDashboardController as vm">
    <div class="row">
        <div class="span12">
            <h2>Publication queue</h2>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            Items queued in the background publication queue
        </div>
        <div class="span6">
            <div class="pull-right">
                <button ng-click="vm.processQueue()" class="btn btn-info" ng-disabled="vm.status.Processing">Process Queue</button>
                <button ng-click="vm.updateQueue()" class="btn btn-success">Update</button>
                <button ng-click="vm.clearQueue()" class="btn btn-danger" ng-disabled="vm.status.Processing">Clear</button>
            </div>
        </div>
    </div>

    <div ng-show="vm.loaded">
        <div class="queue-status-bar">
            <div class="row">
                <div class="span4">
                    <strong>Queue Size</strong> {{vm.status.Count}}
                </div>
                <div class="span4">
                    <strong>Status</strong>
                    <div class="queue-status" ng-show="vm.status.Processing">Processing</div>
                    <div class="queue-status" ng-hide="vm.status.Processing">Idle</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <div class="progress">
                    <div class="progress-bar"
                         role="progressbar" 
                         aria-valuenow="{{vm.status.Count}}" 
                         aria-valuemin="0" 
                         aria-valuemax="{{vm.maxCount}}" 
                         style="width: {{vm.percentQueue()}}%;background-color: lightblue !important;height:100%">
                    </div>
                </div>
            </div>
        </div>

        <div ng-show="vm.status.Count > 0">
            <div ng-show="vm.status.Count > 100">
                <small><em>Showing top 100 items in queue</em></small>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Pos</th>
                        <th>Priority</th>
                        <th>Name</th>
                        <!--<th>Submitted</th>-->
                        <th>Scheduled</th>
                        <th>Attempts</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in vm.queue.Items">
                        <td>{{vm.showPos($index)}}</td>
                        <td>{{vm.priorities[item.Priority]}}</td>
                        <td>{{item.Name}}</td>
                        <!--
                        <td>{{item.Submitted | date: 'dd-MMM-yyyy HH:mm:ss'}}</td>
                        -->
                        <td>{{item.Schedule | date: 'dd-MMM-yyyy HH:mm:ss'}}</td>
                        <th>{{item.Attempt-1}}</th>
                        <th>{{vm.actions[item.Action]}}</th>
                    </tr>
                </tbody>
            </table>
        </div>


        <div class="text-center">
            <umb-pagination page-number="vm.queue.CurrentPage"
                            total-pages="vm.queue.TotalPages"
                            on-next="vm.nextPage"
                            on-prev="vm.prevPage"
                            on-go-to-page="vm.goToPage">
            </umb-pagination>
        </div>

    </div>
</div>